<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <i class="fa fa-sticky-note" aria-hidden="true"></i>
      Note
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!isLogin">
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLogin">
          <li class="nav-item">
            <a class="nav-link" routerLink="home"
              ><i class="fa fa-user" aria-hidden="true"></i>
              {{ this.userName.first_name }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" href="#">Logout</a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
