#home-father {
  position: relative;
  min-height: 100vh;
}
/* .Home {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
} */
.tittle-father {
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.028),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.04),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.06),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.072),
    100px 100px 80px rgba(0, 0, 0, 0.1);

  position: absolute;
  background: #fff;
  top: -27%;
  left: 0%;
  z-index: -1;
  padding: 15px 0 20px 0;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}

.note-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fe7bb0;
  background-image: linear-gradient(315deg, #fe7bb0 0%, #ff748b 74%);
  border-radius: 10px;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-height: 200px;
  min-width: 200px;
  word-break: break-all;
}
li a {
  color: black !important;
  text-align: center;
}
/* addNote */

.AddNote {
  background-image: linear-gradient(
    to right,
    #89d8d3 0%,
    #26d0ce 51%,
    #03c8a8 100%
  );
}
.AddNote {
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.AddNote:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* edit */

/* trash */

.dropdown-menu {
  background: rgba(74, 144, 226, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
