::placeholder {
  color: black !important;
}

.btn {
  background-image: linear-gradient(
    to right,
    #283048 0%,
    #859398 51%,
    #283048 100%
  );
}
.btn {
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.btn {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
